repos:
  - repo: local
    hooks:
      - id: git-cliff
        name: generate changelog
        language: system
        entry: bash scripts/update-changelog.sh
        stages: [pre-commit]
        always_run: true
        pass_filenames: false
